{% extends "base.html" %}

{% block content %}


<div class="all-75">
  <div class="all-100">
      <form class="ink-form">
          <div class="control-group append-button">
              <input type="text" id="highlight_input" style="width:90%" placeholder="Insert the issue url">
              <button class="ink-button" onclick="wallet.issues.search(wallet['repoFullName']);return false;"><i class="icon-search"></i> Search</button>
          </div>
      </form>
  </div>
  <div id="issues"></div>
  <div class="all-100 align-center">
      <button class="ink-button blue" style="margin-top:20px;" onclick="javascript:wallet.getIssues();">Load more</button>
  </div>
</div>

{% endblock %}

{% block template_scripts %}
<script id="issue-line" type="text/html">
      <div class="containerz">
          <div class="all-100">
              <h1><a href='<%= repo.html_url %>' target='_blank'><%= repo.title %></a> </h1>
              <h4> <%= repo.created_at %> <button class="ink-button" onclick='$(".form-container-<%= repo.id %>").toggle();return false;'>Offer</button></h4>

              <div class="form-container-<%= repo.id %>" style="display:none;">
                <form class="ink-form" method="post" action="{% url 'new_proposition' %}">
                  {% csrf_token %}
                  <div class="column-group gutters">
                    <div class="control-group all-33">
                        <label for="name">Amount</label>
                        <div class="control">
                            <input type="text" name="value">
                        </div>
                    </div>
                    <div style="display:none">
                      <input type="text" name="repository" value="{{repo.pk}}">
                      <input type="text" name="issue_id" value="<%= repo.html_url %>">
                    </div>
                    <div class="control-group all-33">
                        <label for="phone">Expiration date</label>
                        <div class="control">
                            <input type="text" name="expires">
                        </div>
                    </div>
                    <div class="control-group all-33">
                        <div class="control">
                            <input type="submit" style="width:50%" value="Make offer" class="ink-button">
                        </div>
                    </div>
                  </div>
                </form>
              </div>
          </div>
      </div>
</script>

<script id="issue-form" type="text/html">
<form class="ink-form" >
  <div class="column-group gutters">
      <div class="control-group all-33">
          <label for="name">Amount</label>
          <div class="control">
              <input type="text" name="amount">
          </div>
      </div>
      <div style="display:none">
        <input type="text" name="amount">
      </div>
      <div class="control-group all-33">
          <label for="phone">Expiration date</label>
          <div class="control">
              <input type="text" name="expiration_date">
          </div>
      </div>
      <div class="control-group all-33">
          <div class="control">
              <input type="submit" value="Make offer" class="ink-button">
              <input class="ink-button" onclick="$(this).parent().parent().parent().hide();return false;"> Cancel </button>
          </div>
      </div>
  </div>
</form>
</script>
<script>
$(document).ready(function() {
	wallet.init();
  wallet['repoFullName'] = '{{ repo.fullname }}';
	wallet.getIssues();
  wallet.repositories.getMy();
});
</script>
{% endblock %}
