{% extends "base.html" %}

{% block content %}


<div class="all-75">
  <div class="all-100">
      <form class="ink-form">
          <div class="control-group append-button">
              <input type="text" id="highlight_input" style="width:90%" placeholder="Insert the issue url">
              <button class="ink-button" onclick="wallet.issues.search(wallet['repoFullName']);return false;"><i class="icon-search"></i> Search</button>
          </div>
      </form>
  </div>
  <div id="issues"></div>
  <div class="all-100 align-center">
      <button class="ink-button blue" style="margin-top:20px;" onclick="javascript:wallet.getIssues();">Load more</button>
  </div>
</div>

<div class="ink-shade fade">
    <div id="addProposition" class="ink-modal fade" data-trigger=".show-proposition-modal" data-width="80%" data-height="80%">
        <div class="modal-header">
            <button class="modal-close ink-dismiss"></button>
            <h2>This is the modal header</h2>
        </div>
        <div class="modal-body" id="modalContent">
            <h3>This is the modal content</h3>
            <figure class="ink-image">
                <img src="http://lorempixel.com/1200/675/sports/1" alt="" class="ink-image">
            </figure>
        </div>
        <div class="modal-footer">
            <div class="push-right">
                <!-- Anything with the ink-dismiss class will close the modal -->
                <button class="ink-button caution ink-dismiss">Close</button>
            </div>
        </div>
    </div>
</div>

{% endblock %}

{% block template_scripts %}
<script id="issue-line" type="text/html">
      <div class="containerz">
          <div class="all-100">
              <h1><a href='<%= repo.html_url %>' target='_blank'><%= repo.title %></a> </h1>
              <h4> <%= repo.created_at %> </h4>
              <a class="show-proposition-modal">Make Offer</a>
          </div>
      </div>
</script>
<script>
$(document).ready(function() {
	wallet.init();
  wallet['repoFullName'] = '{{ repo.fullname }}';
	wallet.getIssues();
  wallet.repositories.getMy();
});
</script>
{% endblock %}
