{% extends "base.html" %}

{% block content %}
<div class="ink-grid vertical-space">
	<div class="column-group horizontal-gutters">

		<div class="all-75" id="repositories">

		</div>
		<div class="all-25">
			<div class="all-100" style="margin-bottom:40px;">
				<h2>Your offers</h2>
				ok
			</div>
			<div class="all-100">
				<h2>Your Repos</h2>
                <form class="ink-form">
                    <div class="control-group append-button">
                        {% csrf_token %}
                        <input type="text" id="add_repository_url" style="width:80%" placeholder="Insert your repo url">
                        <button class="ink-button green" onclick="wallet.addRepository();return false;"><i class="icon-search"></i>+</button>
                    </div>
                </form>

                <ul class="unstyled" id="my-repos-list">

                </ul>
			</div>
		</div>
	</div>
</div>

<div class="push"></div>
{% endblock %}

{% block template_scripts %}
<script id="repo-line" type="text/html">
      <div class="containerz">
          <div class="all-100">
              <h1><a href='/repositories/<%= repo["pk"] %>' ><%= repo['fields']['fullname'] %></a>
                  <span class="ink-badge blue"><%= repo['fields']['total_propositions'] %></span>
              </h1>
              <p><%= repo['fields']['description'] %></p>
          </div>
      </div>
</script>
<script>
$(document).ready(function() {
      wallet.init();
      wallet.getRepositories();
});
</script>
{% endblock %}