{% extends "base.html" %}

{% block content %}

<div class="all-75">
  <div class="all-100">
      <form class="ink-form">
          <div class="control-group append-button">
              <input type="text" id="highlight_input" style="width:90%" placeholder="Insert the repository name">
              <button class="ink-button" onclick="wallet.repositories.search(wallet['repoFullName']);return false;"><i class="icon-search"></i> Search</button>
          </div>
      </form>
  </div>
  <div id="repositories"></div>

</div>

{% endblock %}

{% block template_scripts %}
<script id="repo-line" type="text/html">
      <div class="containerz">
          <div class="all-100">
              <h1><a href='/repository/<%= repo["pk"] %>' ><%= repo['fields']['fullname'] %></a>
                  <span class="ink-badge blue"><%= repo['fields']['total_propositions'] %></span>
              </h1>
              <p><%= repo['fields']['description'] %></p>
          </div>
      </div>
</script>
<script>
$(document).ready(function() {
      wallet.init();
      wallet.getRepositories();
      wallet.repositories.getMy();
});
</script>
{% endblock %}